name: autoclose schedule
# Autoclose labeled PR after 2 weeks

permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    #- cron: '0 2 * * *' # runs daily at 02:00 UTC
    - cron: '* * * * *' # runs every minute / for debug

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_REPO: ${{ github.repository }}

jobs:

  autoclose:
    name: autoclose labeled PRs on schedule
    runs-on: ubuntu-latest
    steps:

      - name: detect labeled PRs
        run: |
          PR_NUMBERS=$(gh pr list \
            --repo "$GH_REPO" \
            --label autoclose \
            --state open \
            --json number \
            --jq '.[].number' | tr '\n' ' ')
          echo "PR_NUMBERS=$PR_NUMBERS" >> $GITHUB_ENV

      - name: echo labeled PR numbers
        run: echo "PR numbers $PR_NUMBERS"
        env:
          PR_NUMBERS: ${{ env.PR_NUMBERS }}