name: autoclose schedule
# Autoclose labeled PR after 2 weeks

permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    #- cron: '0 2 * * *' # runs daily at 02:00 UTC
    - cron: '* * * * *' # runs every minute / for debugging

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_REPO: ${{ github.repository }}

jobs:

  autoclose:
    name: autoclose labeled PRs on schedule
    runs-on: ubuntu-latest
    steps:

      - name: detect labeled PRs
        run: |
          PR_NUMBERS=$(gh pr list \
            --repo "$GH_REPO" \
            --label autoclose \
            --state open \
            --json number \
            --jq '.[].number' | tr '\n' ' ')
          echo "PR_NUMBERS=$PR_NUMBERS" >> $GITHUB_ENV

      # for debugging
      - name: echo labeled PR numbers
        run: echo "PR numbers $PR_NUMBERS"
        env:
          PR_NUMBERS: ${{ env.PR_NUMBERS }}

      - name: close labeled PRs and post comment
        if: env.PR_NUMBERS != '0' # 0 is the output for no PRs found
        run: |
          for PULL_REQUEST_NUMBER in $PR_NUMBERS; do
            echo "Closing PR #$PULL_REQUEST_NUMBER"
            gh pr close "$PULL_REQUEST_NUMBER" \
              --repo "$GH_REPO" \
              --comment "$BODY"
          done

        env:
          BODY: |
            Thank you for working on this pull request and for your interest in contributing to scikit-learn. However, we cannot accept your contribution as this pull request doesn't meet the development standards and puts an unproportional burden on reviewers.
            
            Following our autoclose policy, we are closing this PR after two weeks time for improvements. 
            
            We apologise for the inconvenience. If you think your PR has been closed by mistake, please contact a maintainer.
          PR_NUMBERS: ${{ env.PR_NUMBERS }}