name: schedule autoclose
# Autoclose labeled PR after 2 weeks

permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    #- cron: '0 2 * * *' # runs daily at 02:00 UTC
    - cron: '*/2 * * * *' # runs every 2 minutes

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_REPO: ${{ github.repository }}

jobs:

  autoclose:
    name: autoclose labeled PRs on schedule
    runs-on: ubuntu-latest
    steps:

      - name: detect labeled PRs
        run: |
          gh issue list --repo "$GH_REPO" --label autoclose --state open --json number,title,body
          echo number,title,body

